<p></p>
<form class="form-horizontal">
    <div class="container">
        <div class="col-sm-5">
            <div class="form-group has-success">
                <label class="control-label col-sm-2 ">Name:</label>
                <div class="col-sm-10">
                    <input style="font-weight: bold;" class="form-control" id="tbType" type="text" value="@ViewBag.Name" readonly style="background-color:transparent">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 ">Vendor:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="tbVendor" type="text" value="@ViewBag.Vendor" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 text-right">Model:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="tbVendor" type="text" value="@ViewBag.Model" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 text-right">Type:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="tbVendor" type="text" value="@ViewBag.Type" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 text-right">SerialNr:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="tbVendor" type="text" value="@ViewBag.Serial" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 text-right">Memory:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="tbVendor" type="text" value="@ViewBag.Memory (GB)" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 text-right">CPU:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="tbVendor" type="text" value="@ViewBag.CPU" readonly>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label col-sm-3 text-right">OS:</label>
                <div class="col-sm-9">
                    <input class="form-control" id="tbOS" type="text" value="@ViewBag.OS" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-right">Version:</label>
                <div class="col-sm-9">
                    <input class="form-control" id="tbStatus" type="text" value="@ViewBag.Version" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-right">Language:</label>
                <div class="col-sm-9">
                    <input class="form-control" id="tbStatus" type="text" value="@ViewBag.Language" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-right">Architecture:</label>
                <div class="col-sm-9">
                    <input class="form-control" id="tbStatus" type="text" value="@ViewBag.Arch" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-right">Installdate:</label>
                <div class="col-sm-9">
                    <input class="form-control" id="tbStatus" type="text" value="@ViewBag.InstDate (UTC)" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-right">Inventory age:</label>
                <div class="col-sm-8">
                    <input class="form-control" id="tbStatus" type="text" value="@ViewBag.LastInv  Revision: @ViewBag.Index" readonly>
                </div>
                <a href="Diff?id=@ViewBag.Id&l=@ViewBag.Index" role="button" class="btn btn-default" aria-pressed="true">Diff</a>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-right">UserName:</label>
                <div class="col-sm-9">
                    <input class="form-control" id="tbStatus" type="text" value="@ViewBag.UserName" readonly>
                </div>
            </div>
        </div>

        <hr style="width: 100%; color: black; height: 1px; background-color:darkgray;" />

        <div class="col-sm-8 col-sm-offset-2">
            <div class="form-group">
                <button class="btn @ViewBag.CoreStyle col-sm-10" type="button" data-toggle="collapse" data-target="#collapseCoreSW" aria-expanded="false" aria-controls="collapseCoreSW">
                    Core Applications
                </button>
                <div class="collapse col-sm-8" id="collapseCoreSW">
                    <div class="card card-body">
                        @foreach (var app in ViewBag.CoreSW)
                        {
                        @Html.Raw(app)
                        }
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button class="btn alert-info col-sm-10 fa fa-bars" type="button" data-toggle="collapse" data-target="#collapseIndSW" aria-expanded="false" aria-controls="collapseIndSW">
                    Individual Software (@ViewBag.IndSWc)
                </button>
                <div class="collapse col-sm-8" id="collapseIndSW">
                    <div class="card card-body">
                        @foreach (var app in ViewBag.IndSW)
                        {
                        @Html.Raw(app)
                        }
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button class="btn alert-danger col-sm-10 fa fa-bars" type="button" data-toggle="collapse" data-target="#collapseUnknSW" aria-expanded="false" aria-controls="collapseUnknSW">
                    Unknown Software (@ViewBag.UnknSWc)
                </button>
                <div class="collapse col-sm-8" id="collapseUnknSW">
                    <div class="card card-body">
                        @foreach (var app in ViewBag.UnknSW)
                        {
                        @Html.Raw(app)
                        }
                    </div>
                </div>
            </div>
        </div>

        <hr style="width: 100%; color: black; height: 1px; background-color:darkgray;" />
        <a href="InvJson?id=@ViewBag.Id&l=@ViewBag.Index" role="button" class="btn btn-default col-sm-2" aria-pressed="true">show JSON...</a>
    </div>
</form>

