<p></p>
<form class="">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-5">
                <div class="form-group has-success">
                    <label class="control-label">Name:</label>
                    <div class="">
                        <input style="font-weight: bold;background-color:transparent" class="form-control" id="tbName" type="text" value="@ViewBag.Name" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Vendor:</label>
                    <div class="">
                        <input class="form-control" id="tbVendor" type="text" value="@ViewBag.Vendor" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-labelt">Model:</label>
                    <div class="">
                        <input class="form-control" id="tbModel" type="text" value="@ViewBag.Model" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Type:</label>
                    <div class="">
                        <input class="form-control" id="tbType" type="text" value="@ViewBag.Type" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">SerialNr:</label>
                    <div class="">
                        <input class="form-control" id="tbSer" type="text" value="@ViewBag.Serial" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Memory:</label>
                    <div class="">
                        <input class="form-control" id="tbMem" type="text" value="@ViewBag.Memory (GB)" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">CPU:</label>
                    <div class="">
                        <input class="form-control" id="tbCPU" type="text" value="@ViewBag.CPU" readonly>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">OS:</label>
                    <div class="">
                        <input class="form-control" id="tbOS" type="text" value="@ViewBag.OS" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-labelt">Version:</label>
                    <div class="">
                        <input class="form-control" id="tbVersion" type="text" value="@ViewBag.Version" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Language:</label>
                    <div class="">
                        <input class="form-control" id="tbLang" type="text" value="@ViewBag.Language" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Architecture:</label>
                    <div class="">
                        <input class="form-control" id="tbArch" type="text" value="@ViewBag.Arch" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Installdate:</label>
                    <div class="">
                        <input class="form-control" id="tbInstDate" type="text" value="@ViewBag.InstDate (UTC)" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Inventory age:</label>
                    <div class="input-group">
                        <input class="form-control" id="tbInvDate" type="text" value="@ViewBag.LastInv  Revision: @ViewBag.Index" readonly>
                        <div class="input-group-append">
                            <a href="Diff?id=@ViewBag.Id&r=@ViewBag.Index" role="button" class="input-group-text" role="button" aria-pressed="true">Diff</a>
                        </div>
                        @*<a href="Diff?id=@ViewBag.Id&r=@ViewBag.Index" role="button" class="btn btn-light col-md-12" aria-pressed="true">Diff</a>*@
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label">UserName:</label>
                    <div class="">
                        <input class="form-control" id="tbUserName" type="text" value="@ViewBag.UserName" readonly>
                    </div>
                </div>
            </div>
        </div>


        <hr style="width: 100%; color: black; height: 1px; background-color:darkgray;" />

        <div class="row justify-content-md-center">
            <div class="row col-sm-8" style="margin-bottom:5px">
                <button class="btn @ViewBag.CoreStyle col-sm-10" type="button" data-toggle="collapse" data-target="#collapseCoreSW" aria-expanded="false" aria-controls="collapseCoreSW">
                    Core Applications
                </button>
                <div class="collapse col-sm-10" id="collapseCoreSW">
                    <div class="card card-body @ViewBag.CoreStyle">
                        @foreach (var app in ViewBag.CoreSW)
                        {
                            @Html.Raw(app)
                        }
                    </div>
                </div>
            </div>

            <div class="row col-sm-8" style="margin-bottom:5px">
                <button class="btn alert-info col-sm-10" type="button" data-toggle="collapse" data-target="#collapseIndSW" aria-expanded="false" aria-controls="collapseIndSW">
                    Individual Software (@ViewBag.IndSWc)
                </button>
                <div class="collapse col-sm-10" id="collapseIndSW">
                    <div class="card card-body alert-info">
                        @foreach (var app in ViewBag.IndSW)
                        {
                            @Html.Raw(app)
                        }
                    </div>
                </div>
            </div>

            <div class="row col-sm-8">
                <button class="btn alert-danger col-sm-10" type="button" data-toggle="collapse" data-target="#collapseUnknSW" aria-expanded="false" aria-controls="collapseUnknSW">
                    Unknown Software (@ViewBag.UnknSWc)
                </button>
                <div class="collapse col-sm-10" id="collapseUnknSW">
                    <div class="card card-body alert-danger">
                        @foreach (var app in ViewBag.UnknSW)
                        {
                            @Html.Raw(app)
                        }
                    </div>
                </div>
            </div>
        </div>
        <hr style="        width: 100%;
        color: black;
        height: 1px;
        background-color: darkgray;" />
        <a href="InvJson?id=@ViewBag.Id&l=@ViewBag.idx" role="button" class="btn btn-light col-sm-2" aria-pressed="true">show JSON...</a>
    </div>
</form>

